<div class="container">
    <div class="row text-center">
        <div 
          class="col-xs-4 col-xs-offset-4 list-group-item"
          *ngIf="!quizEnded"
        >
            <div>
                <h3>{{ this.questions[currentQuestion].title }}</h3>
                <p>{{ this.questions[currentQuestion].description }}</p>
            </div>
            <div class="options mt-2">
                <div class="btn-group text-center" role="group">
                    <button type="button" class="btn btn-primary btn-block" style="margin: 2px;" *ngFor="let option of questions[currentQuestion].options" (click)="answer(option.value)">
                        {{ option.title }}
                    </button>
                </div>
            </div>
        </div>
        <div 
          class="col-xs-4 col-xs-offset-4 list-group-item"
          *ngIf="quizEnded"
        >
          <div>
              <h3>Quiz Ended</h3>
              <p>Mistakes Made</p>
              <p>answer : {{this.currentQuestion + 1}} / mistakes : {{errors}}</p>
              <!-- <button class="btn btn-primary btn-success" (click)="restartQuiz()">Try Again</button> -->
          </div>
      </div>
    </div>
  </div>