<div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onSaveData()">Upload Quiz</button>
      <button class="btn btn-success" style="margin: 2px;" (click)="onNewQuestion()">New Question</button>
      <button class="btn btn-success" (click)="startQuiz()">Start Quiz</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-question-item
        *ngFor="let questionEl of questions; let i = index"
        [question]="questionEl"
        [index]="i"></app-question-item>
    </div>
  </div>
  
  